<section id="hero">
    <div class="hero-container">
        <h1>{{ this.personal.name }}</h1>
        <h2>{{ this.personal.slogan }}</h2>
        <div class="social-links">
            <a href="{{this.social.twitter }}" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="{{this.social.instagram }}" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="{{this.social.linkedin }}" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <a href="{{this.social.github }}" target="_blank" class="github"><i class="bi bi-github"></i></a>
        </div>
        <a href="#about" class="btn-scroll scrollto" title="Scroll Down">
            <i class="bx bx-chevron-down"></i>
        </a>
    </div>
</section>
