---
const { footer } = Astro.props;
---
<footer class="w-full h-[54px] flex bg-[#18172566]">
  <div class="mt-3.5 w-44 mx-auto flex gap-1">
    <div class="flex items-center justify-center w-[61px] h-[26px] font-[Rajdhani] font-bold text-[10px] leading-[26px] whitespace-nowrap" style="color: var(--p-text);">
      {footer.designedByLabel}
    </div>
    <div class="flex items-center justify-center w-[107px] h-[26px] font-[Rajdhani] font-bold text-[#5a95c1] text-[10px] leading-[26px] whitespace-nowrap">
      {footer.name}
    </div>
  </div>
</footer>
