<section id="resume" class="resume section-panel-container" style="padding: 0 !important;">
    <div class="container" style="padding: 0 !important;">
        <div *ngIf="isLoading; else dataTemplate">
            <ngx-skeleton-loader count="1" appearance="line" animation="pulse" loadingText="Loading..."  [theme]="{width: '250px', left: '37%', marginTop: '20px', background: '#29323c'}"></ngx-skeleton-loader>
        </div>

        <ng-template #dataTemplate>
            <div class="resume-title-background">
                <div style="background: #000000a1; position: absolute; left: 0; bottom: 0;">
                    <div class="section-description section-description-glass">
                        <div class="section-title" style="text-align: center !important;padding-bottom: 30px;">
                            <span class="span-title"><i class="bi bi-file-code"></i> My Resume</span>
                        </div>
                        <p>{{ this.resume.description }}</p>
                    </div>
                </div>
            </div>

            <div class="row mt-5 m-auto">
                <div class="col-lg-6">
                    <h3 class="resume-title">Certifications/Courses</h3>
                    <app-timeline [timelineItems]="this.certifications"></app-timeline>
                </div>

                <div class="col-lg-6">
                    <h3 class="resume-title">Professional Experience</h3>
                    <app-timeline [timelineItems]="this.occupations"></app-timeline>
                </div>
            </div>
        </ng-template>
    </div>
</section>
